name: Master Sync Logic
on:
  workflow_call:
    inputs:
      service_name:
        required: true
        type: string
    secrets:
      APP_ID:
        required: true
      APP_PRIVATE_KEY:
        required: true

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Generate Token
        id: generate_token
        uses: tibdex/github-app-token@v2
        with:
          app_id: ${{ secrets.APP_ID }}
          private_key: ${{ secrets.APP_PRIVATE_KEY }}

      - name: Checkout Central Repo
        uses: actions/checkout@v4
        with:
          repository: amitpanwar789/docs
          token: ${{ steps.generate_token.outputs.token }}
          path: central-repo

      - name: Checkout Service Repo
        uses: actions/checkout@v4
        with:
          path: service-repo

      - name: Sync and Push
        run: |
          mkdir -p central-repo/api-reference/specs
          cp service-repo/api/sidebars.yaml central-repo/api-reference/specs/abdsagds.yaml
          
          cd central-repo
          git config user.name "API Bot"
          git config user.email "bot@docs.com"
          git add .
          git commit -m "Sync: ${{ inputs.service_name }} updated"
          git pull origin main --rebase
          git push origin main
          # if ! git diff --quiet && git diff --staged --quiet; then
          #   git commit -m "Sync: ${{ inputs.service_name }} updated"
          #   for i in {1..3}; do
          #     git fetch origin main
          #     git rebase origin/main && git push origin main && exit 0 || git rebase --abort
          #     sleep 5
          #   done
          #   exit 1
          # fi